<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Search result for <%= search %></h1>
    <% if(result.length)%>
        <ul>
            <% for(var i = 0;i<result.length;i++){  %>
            <li><%= result[i].text %> - <em><%= result[i].from_user %></em></li>   
        </ul>
    <% } else {%>    
        <p>No result</p>
    <% } %>    
</body>
</html>