<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hello <%=title%></h1>
    <ul>
        <li><a href="<%=global.app_path%>">首页</a></li>
        <li><a href="<%=global.app_path+'/users'%>">用户页</a></li>
    </ul>
</body>
</html>