<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加用户</title>
    <link rel="stylesheet" href="<%=global.css_path%>style.css">
</head>
<body>
    <div class="box">
        
        <form action="add" method="post">
            <input type="text" name="uname" placeholder="username" ><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="text" name="mobile" placeholder="mobile">
            <button>submit</button>
        </form>
    </div>
    
</body>
</html>